.welcome.pushpin-live
  %h1 Faraz Naeem's Coding Portfolio

  .placeholder
    %p Here is some text

.projects.pushpin-live
  %h2 PrepCourse
  .projects
    - data.projects.each do |project|
      %h4= project[:name]
      %p= project[:description]
      %p= link_to project[:website]

.other.pushpin-live
  %h2 Main Course
  .projects_main
    - data.projects_main.each do |project|
      %h4= project[:name]
      %p= project[:description]








/= link_to 'contact', 'https://linkedin.com', class: 'btn waves-effect waves-light', target: '_blank' this is a button
