.content
  %topsection.container
    %nav.pushpin-live{"data-target" => "introduction"}
      .nav-wrapper-top
        %a.logo.center Portfolio

  #introduction.block
    .welcome
      %h2.intro Faraz Naeem's Coding Portfolio

      .placeholder
        %p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.


  %midsection.container
    %nav.pushpin-live{"data-target" => "experience"}
      .nav-wrapper-middle
        %a.logo.center CV

    #experience.block

      .projects
        - data.projects.each do |project|
          %h4= project[:name]
          %p= project[:description]
          %p= link_to project[:website]

  %bottomsection.container.col.s12
    %nav.pushpin-live{"data-target" => "future"}
      .nav-wrapper-bottom
        %a.logo.center Faraz

    #future.block
      .other
        %h2 Main Course
        .projects_main
          - data.projects_main.each do |project|
            %h4= project[:name]
            %p.last= project[:description]

        %footer.page-footer
          .col.s6 Lorem ipsum dolor sit amet, consectetur
          .row.col.s6 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
