.content
  %topsection.container
    %nav.pushpin-live{"data-target" => "introduction"}
      .nav-wrapper-top
        %a.logo.center Portfolio

  #introduction.block
    .welcome
      %h2.intro Faraz Naeem's Coding Portfolio

      .placeholder
        %p Here is some text

  %midsection.container
    %nav.pushpin-live{"data-target" => "experience"}
      .nav-wrapper-middle
        %a.logo.center CV

    #experience.block

      .projects
        - data.projects.each do |project|
          %h4= project[:name]
          %p= project[:description]
          %p= link_to project[:website]

  %bottomsection.container
    %nav.pushpin-live{"data-target" => "future"}
      .nav-wrapper-bottom
        %a.logo.center Faraz

    #future.block
      .other
        %h2 Main Course
        .projects_main
          - data.projects_main.each do |project|
            %h4= project[:name]
            %p= project[:description]
