.welcome
  %h1 Faraz Naeem's Coding Portfolio

%h2 PrepCourse
.projects
  - data.projects.each do |project|
    %h4= project[:name]
    %p= project[:description]
    %p= link_to project[:website]

%h2 Main Course
.projects_main
  - data.projects_main.each do |project|
    %h4= project[:name]
    %p= project[:description]

%h2 About me
.




/= link_to 'contact', 'https://linkedin.com', class: 'btn waves-effect waves-light', target: '_blank' this is a button
